* {
  box-sizing: border-box;
}

body {
  background-color: #FBF6E3;
}


.draggable {
  -webkit-app-region: drag;
}

.titlebar {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #FEFEFE;
  opacity: 0.9;
}

.title {
  font-size: 21px;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px;
  padding-top: 40px;
}

h1, p {
}

h1, input, p {
  font-family: 'Source Code Pro', 'Monaco', monospace;
}

input[type="text"] {
  border: #333;
  padding: 3px;
  min-width: 400px;
  display: inline-block;
  margin-bottom: 0.5em;
}

input[type="submit"] {
  border: #333;
  padding: 3px 10px;
  display: inline-block;
  margin-bottom: 0.5em;
}

.code {
  margin: 0;
  font-family: 'Source Code Pro', 'Monaco', monospace;
  font-size: 13px;
}

b {
  color: #5F6E75;
}

.log-opener {
  text-align: center;
}
